@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

   <title>@ViewBag.Title</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="~/img/favicon.png" rel="icon">
  <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="~/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="~/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="~/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="~/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="~/img/logo.png" alt="">
        <span class="d-none d-lg-block">WEA</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->



    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="~/img/profile-img.png" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">@Context.Session.GetString("userName")</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6></h6>
            
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" asp-controller="Authentication" asp-action="Index">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
  <aside id="sidebar" class="sidebar">

  
    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " asp-controller="User" asp-action="Index">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

    
      
       <li class="nav-item">
        <a class="nav-link collapsed"  asp-controller="User" asp-action="AddBasicInformation">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" asp-controller="User" asp-action="AddChildInfo">
          <i class="bi bi-person"></i>
          <span>Child Info</span>
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link collapsed" asp-controller="User" asp-action="DisplayDepositAmount">
          <i class="bi bi-cash-coin"></i>
          <span>Financial Deposit</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" asp-controller="User" asp-action="CourseInformation">
          <i class="bi bi-book-half"></i>
          <span>Course</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" asp-controller="User" asp-action="CourseJoin">
          <i class="bi bi-app-indicator"></i>
          <span>My Course</span>
        </a>
      </li>

             <li class="nav-item">
        <a class="nav-link collapsed"  asp-controller="User" asp-action="AddFAQ">
           <i class="bi bi-question-circle"></i>
          <span>Add Questions</span>
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link collapsed"  asp-controller="User" asp-action="ViewAllRespondedFAQ">
           <i class="bi bi-question-circle"></i>
          <span>View FAQ</span>
        </a>
      </li>

    

    

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
<div class="pagetitle">
      <h1>User-Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
   @RenderBody()
  <!-- ======= Sidebar ======= -->
  </main><!-- End #main -->
      
   
 

  <!-- ======= Footer ======= -->
 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="~/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/vendor/chart.js/chart.min.js"></script>
  <script src="~/vendor/echarts/echarts.min.js"></script>
  <script src="~/vendor/quill/quill.min.js"></script>
  <script src="~/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="~/vendor/tinymce/tinymce.min.js"></script>
   <!-- Template Main JS File -->
  <script src="~/js/main.js"></script>

</body>

</html>